
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');



html, body {
  margin: 100px, 30px;
  padding: 40;
  vertical-align: top;
  width: 75%;
  
  background-color:whitesmoke;
  
background-image: url("imagenes/tumblr7.jpg");
  
}
 
canvas {
  display: block;
}


body 

{background-color:whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
 
        align-items: center;
        margin: 2rem!important;
  }
  




h1{
  font-size: 30px;
  font-weight: 300;
  color: black;
  text-align: center;
}

h2{
  font-size: 25px;
  font-weight: 350;
  color: black;
  text-align: center;
  
}

h3{
  font-size: 20px;
  font-weight: 200;
  color: black;
  text-align: center;
  
}


h4{
  font-size: 20px;
  font-weight: 300;
  color: black;
  
  
}




.sidebar {
grid-area: sidebar;

}

.content {
grid-area: content;


}



.header {
grid-area: header;



}

.footer {
grid-area: footer;


}

.wrapper {
display: grid;
    grid-gap: 30px;
grid-template-columns: 400px 320px 230px;
grid-template-areas:
    "....... header header"
"sidebar content content"
"footer footer  footer";
background-color:rgba(255, 255, 255, 0.966);
color: #546;
width: 120%;


margin-top: 50px;
margin-left: 200px;
margin-bottom: 50px;

  font-weight: 200;
  padding: 20px;
  text-align: justify;
  
  
}


.box {
  background-color: rgba(241, 241, 241, 0.719);
  color: #000000;
  border-radius: 0px;
  padding: 20px;
  font-size: 100%;
  
}

.header,
.footer {
  background-color: #eefcf6d2;
  text-align: justify;
  border-radius: 0px;
  padding: 20px;
  font-weight: 200;
  
}

#container{
  columns: 2;
  column-width: 150px;
  column-count: 2;
  padding: 20px;
  text-align: justify;
  column-gap: 1cm;
}

#container2{
  font-size: 10px;
  font-weight: 200;
}

#container3{
  font-size: 16.5px;
  font-weight: 200;
}

#container4{
  columns: 5;
  column-width: 130px;
  column-count: 5;
  padding: 20px;
  text-align: justify;
  column-gap: 1cm;
}

#container5{
  font-size: 6 px;
  font-weight: 200;
}
